// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.theme-main-column{
    max-width: 1024px;
    margin: 0 auto;
    h1{
        margin: 1em 0 0.5em 0;
    }
}
.table__dd{
    th{
        width: 30%;
    }
    td{
        width: 70%;
    }
}
